/*Reset*/
*{
box-sizing: border-box;
margin: 0;
padding: 0;
border: 0;
font-size: 18px;
}

p,h3{
color:hsl(230, 11%, 40%);
}


ul,li,a{
list-style:none;
text-decoration: none;
color: hsl(230, 11%, 40%);
}

body::before{
content:'';
position:absolute;
right:0;
width: 50%;
height: 50vh;
z-index: -1;
background: hsl(207, 33%, 95%);
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
}

/*Header*/

header{
max-width: 940px;
margin: 10px auto;
padding: 0 10px;
display: flex;
justify-content: space-between;
align-items: center;
}

header img{
max-width:100%;
}

nav ul{
display: flex;
align-items: center;
}

nav li{
margin: 10px;
}

nav li a{
padding: 5px;
transition: .2s;
}

nav li a:hover{
border-bottom: 1px solid hsl(230, 11%, 40%);
}

.ball{
width:5px;
height: 5px;
margin: 20px;
border-radius:50%;
background: hsl(230, 11%, 40%);
}

.hamburguer{
	width: 24px;
	height: 16px;
	background: url('images/icon-hamburger.svg');
	cursor: pointer;
	display: none;
}

/*Respondive Menu*/

@media only screen and (max-width: 767px){

	.hamburguer{
		display: block;
	}

	header{
		padding: 0 30px;
	}

	nav ul{
		width: 80%;
		left: 10%;
		position: absolute;
		display: none;
		margin: 0 auto;
		top: 80px;
		flex-direction: column;
		justify-content:center;
		box-shadow: 0px 10px 10px 10px hsl(207, 33%, 95%);
		font-weight:bold;
		letter-spacing: .1em;
		border-radius: 5px;
		background: hsl(207, 33%, 95%);	
	}

	.hamburguer.active{
		display: block;
		width:20px;
		height: 20px;
		background: url('images/icon-close.svg')
	}

	ul.active{
		display: flex;
	}
	
	.ball{
		margin: 10px;
	}
}

/*container*/


.container{
margin-top: 80px;
display: flex;
}

.content{
margin-left: calc((100% - 940px) /2);
text-transform: uppercase;
}


.content h3, .content strong{
margin-top: 100px;
font-size: 15px;
letter-spacing: .1em;
}

.content strong{
background-color: black;
padding:5px;
margin-right:15px;
border-radius: 50px;
color:white;
}

.content h1{
margin: 30px 0;
font-size: 36px;
}

.content p{
max-width: 450px;
}

.call{
margin-top: 30px;
display: flex;
align-items:center;
}

.button{
margin-right:  20px;
padding: 10px 20px;
color: white;
background-color:hsl(0, 100%, 68%);
border-radius: 10px;
}

.call a,.call p{
font-size: 13px;
}

@media (max-width: 940px){
	.content{
		margin-left: 10px;
	}
}


/*image*/

.image{
overflow:hidden;
}


/*responsive content*/


@media only screen and (max-width: 930px){
	.container{
		flex-direction: column-reverse;
	}

	img{
		width:150%;
	}
}